asgiref==3.8.1
autopep8==2.1.1
Django==5.0.6
django-cors==0.1
django-cors-headers==4.3.1
djangorestframework==3.15.1
drf-yasg==1.21.7
inflection==0.5.1
packaging==24.0
Pillow==10.3.0
pycodestyle==2.11.1
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.5.0
uritemplate==4.1.1
celery
django-celery-beat
django-environ
channels
channels_redis
pip==23.1.2
wheel==0.40.0
setuptools==70.0.0
