// VIPChatCard.module.scss
.chatCard {
	width: 570px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--color-black);
	border-radius: 5px;
	background: var(--color-light-blue);
	box-shadow: var(--box-shadow);
	padding: 0.7rem;
	text-decoration: none;
	cursor: pointer;

	h3 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 0.4rem;
	}

	.link {
		color: var(--color-blue);
		text-decoration: none;
		font-family: Montserrat, sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		margin-top: auto;
	}
}