footer {
	width: 100%;
	background-color: var(--color-footer);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 100px 0 60px;
}

.footer__logo {
	width: 130px;
}

.footer__logo_title {
	color: var(--color-main);
	font-weight: 700;
	font-family: LetteraTrentadue, sans-serif;
	font-size: 55px;
}

.footer__title {
	color: var(--color-main);
	font-weight: 700;
	font-size: 12px;
	line-height: 60px;
}


.footer__social {
	display: flex;
	flex: 0 0 300px;
	justify-content: space-between;
	align-items: center;
	margin-right: 10px;

	img {
		width: 50px;
		height: auto;
	}
}

//.footer__social a {
//	margin: 0 10px;
//}

